/*--------------------------------------------------------------------- File Name: responsive.css ---------------------------------------------------------------------*/


/*------------------------------------------------------------------- 991px x 768px ---------------------------------------------------------------------*/

@media only screen and (min-width: 768px) and (max-width: 991px) {
    
    .header-search {
        padding: 15px 0px;
    }
}


/*------------------------------------------------------------------- 767px x 599px ---------------------------------------------------------------------*/

@media only screen and (min-width: 599px) and (max-width: 767px) {
    .logo {
        text-align: center;
    }
    .cart-content-right {
        padding-bottom: 5px;
    }
    .mg {
        margin: 0px 0px;
    }
    .menu-area-main {
        height: 256px;
        overflow-y: auto;
    }
    .megamenu>.row [class*="col-"] {
        padding: 0px;
    }
    .menu-area-main .megamenu .men-cat {
        padding: 0px 15px;
    }
    .menu-area-main .megamenu .women-cat {
        padding: 0px 15px;
    }
    .menu-area-main .megamenu .el-cat {
        padding: 0px 15px;
    }
    .mean-container .mean-nav ul li a.mean-expand {
        height: 19px;
    }
    .category-box.women-box {
        display: none;
    }
    .cart-box {
        display: inline-block;
        margin: 0px 30px;
    }
    .wish-box {
        float: none;
        margin: 0px 30px;
        display: inline-block;
    }
    .menu-add {
        display: none;
    }
    .category-box {
        display: none;
    }
    .mean-container .mean-nav ul li ol {
        padding: 0px;
    }
    .mean-container .mean-nav ul li a {
        padding: 10px 20px;
        width: 94.8%;
    }
    .mean-container .mean-nav ul li li a {
        width: 92%;
        padding: 1em 4%;
    }
    .mean-container .mean-nav ul li li li a {
        width: 100%;
    }
    .header-search {
        padding: 15px 0px;
    }
    #collapseFilter.d-md-block {
        padding: 30px 0px;
    }
}


/*------------------------------------------------------------------- 599px x 280px ---------------------------------------------------------------------*/

@media only screen and (min-width: 280px) and (max-width: 599px) {
    .cart-content-right {
        padding-bottom: 5px;
    }
    .megamenu>.row [class*="col-"] {
        padding: 0px;
    }
    .menu-area-main .megamenu .men-cat {
        padding: 0px 15px;
    }
    .menu-area-main .megamenu .women-cat {
        padding: 0px 15px;
    }
    .menu-area-main .megamenu .el-cat {
        padding: 0px 15px;
    }
    .mean-container .mean-nav ul li a {
        padding: 1em 4%;
        width: 92%;
    }
    .mean-container .mean-nav ul li li a {
        width: 90%;
        padding: 1em 5%;
    }
    .mean-container .sub-full.megamenu-categories ol li a {
        padding: 5px 0px;
        text-transform: capitalize;
        width: 100%;
    }
    .megamenu .sub-full.megamenu-categories .women-box .banner-up-text a {
        width: auto;
        border: none;
        float: none;
    }
    .menu-area-main {
        height: 45px;
        overflow-y: auto;
    }
    .mean-container .mean-nav ul li a.mean-expand {
        top: 0;
    }





}

@media (min-width: 992px) and (max-width: 1199px) {
    .about_bt{
        padding-top: 100px;
    }
    .about_section{
        padding-bottom: 80px;
    }
    .blog_taital {
        font-size: 36px;
    }
    .btn_main {
        width: 70%;
    }
    .google_app {
        width: 38%;
    }
    .newsletter_text {
        width: 70%;
    }




}

@media (min-width: 768px) and (max-width: 991px) {
.about_section{
    background-size: cover;
}
.about_img {
    width: 85%;
    margin-top: 115px;
    left: 130px;
}
.about_box {
    padding: 20px;
}
.about_text{
    font-size: 14px;
}
.about_bt{
    padding-top: 90px;
}
.login_taital_text{
    padding-top: 45px;
}
.blog_taital{
    font-size: 26px;
}
.btn_main {
    width: 100%;
}
.bog_img {
    width: 100%;
}
.google_app {
    width: 44%;
}
.newsletter_main {
    width: 70%;
}
.newsletter_text {
    width: 60%;
}






}

@media (min-width: 576px) and (max-width: 767px) {
.banner_taital{
    font-size: 50px;
}
.banner_text{
    font-size: 16px;
}
.banner_section{
    padding-bottom: 35px;
}
.car_img{
    padding-top: 40px;
}
.about_section{ background-size: cover; }
.about_box {
    width: 100%;
    padding: 30px 10px;
}
.about_img {
    width: 100%;
    float: left;
    position: initial;
    margin-top: 30px;
    text-align: center;
    left: 0;
}
.about_bt{
    padding-top: 0px;
}
.game_taital {
    font-size: 22px;
}
.blog_taital {
    font-size: 20px;
}
.blog_taital::after {
    width: 290px;
}
.blog_text {
    width: 100%;
}
.bog_img {
    width: 100%;
}
.btn_main {
    width: 100%;
}
.btn_main li a {
    margin: 10px 8px;
    padding: 10px 34px;
}

.download_text{
    padding-top: 20px;
}
.google_app {
    width: 43%;
}
.contact_menu li {
    font-size: 12px;
    padding: 20px 5px 0px 5px;
}
.newsletter_main {
    width: 100%;
}
.newsletter_text {
    width: 80%;
}
.overlay {
    height: 30%;
}
.overlay a {
    font-size: 18px;
}
.copyright_text{
    font-size: 15px;
}

} 


@media (max-width: 575px) {
.banner_taital{
    font-size: 30px;
}
.banner_text{
    font-size: 14px;
}
.banner_section{
    padding-bottom: 35px;
}
.car_img{
    padding-top: 40px;
}
.about_section{ background-size: cover; }
.about_box {
    width: 100%;
    padding: 30px 10px;
}
.about_img {
    width: 100%;
    float: left;
    position: initial;
    margin-top: 30px;
    text-align: center;
    left: 0;
}
.about_bt{
    padding-top: 0px;
}
.game_taital {
    font-size: 22px;
}
.blog_taital {
    font-size: 22px;
}
.blog_taital::after {
    width: 290px;
}
.blog_text {
    width: 100%;
}
.bog_img {
    width: 100%;
}
.btn_main {
    width: 100%;
    text-align: center;
}
.btn_main li a {
    margin: 10px 15px;
}

.btn_main ul {
    display: inline-block;
}
.download_text{
    padding-top: 20px;
}
.google_app {
    width: 43%;
}
.contact_menu li {
    font-size: 12px;
    padding: 20px 5px 0px 5px;
}
.newsletter_main {
    width: 100%;
}
.newsletter_text {
    width: 80%;
}
.overlay {
    height: 30%;
}
.overlay a {
    font-size: 18px;
}


}
