/*--------------------------------------------------------------------- File Name: style.css ---------------------------------------------------------------------*/
/*--------------------------------------------------------------------- import Files ---------------------------------------------------------------------*/

@import url(animate.min.css);
@import url(normalize.css);
@import url(icomoon.css);
@import url(css/font-awesome.min.css);
@import url(meanmenu.css);
@import url(owl.carousel.min.css);
@import url(swiper.min.css);
@import url(slick.css);
@import url(jquery.fancybox.min.css);
@import url(jquery-ui.css);
@import url(nice-select.css);

/*--------------------------------------------------------------------- skeleton ---------------------------------------------------------------------*/

* {
     box-sizing: border-box !important;
     transition: ease all 0.5s;
}

html {
     scroll-behavior: smooth;
}

body {
     color: #666666;
     font-size: 14px;
     font-family: 'Poppins', sans-serif;
     line-height: 1.80857;
     font-weight: normal;
     overflow-x: hidden;
}

a {
     color: #1f1f1f;
     text-decoration: none !important;
     outline: none !important;
     -webkit-transition: all .3s ease-in-out;
     -moz-transition: all .3s ease-in-out;
     -ms-transition: all .3s ease-in-out;
     -o-transition: all .3s ease-in-out;
     transition: all .3s ease-in-out;
}

h1,
h2,
h3,
h4,
h5,
h6 {
     letter-spacing: 0;
     font-weight: normal;
     position: relative;
     padding: 0 0 10px 0;
     font-weight: normal;
     line-height: normal;
     color: #111111;
     margin: 0
}

h1 {
     font-size: 24px
}

h2 {
     font-size: 22px
}

h3 {
     font-size: 18px
}

h4 {
     font-size: 16px
}

h5 {
     font-size: 14px
}

h6 {
     font-size: 13px
}

*,
*::after,
*::before {
     -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
     box-sizing: border-box;
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
     color: #212121;
     text-decoration: none!important;
     opacity: 1
}

button:focus {
     outline: none;
}

ul,
li,
ol {
     margin: 0px;
     padding: 0px;
     list-style: none;
}

p {
     margin: 20px;
     font-weight: 300;
     font-size: 15px;
     line-height: 24px;
}

a {
     color: #222222;
     text-decoration: none;
     outline: none !important;
}

a,
.btn {
     text-decoration: none !important;
     outline: none !important;
     -webkit-transition: all .3s ease-in-out;
     -moz-transition: all .3s ease-in-out;
     -ms-transition: all .3s ease-in-out;
     -o-transition: all .3s ease-in-out;
     transition: all .3s ease-in-out;
}

img {
     max-width: 100%;
     height: auto;
}

 :focus {
     outline: 0;
}

.paddind_bottom_0 {
     padding-bottom: 0 !important;
}

.btn-custom {
     margin-top: 20px;
     background-color: transparent !important;
     border: 2px solid #ddd;
     padding: 12px 40px;
     font-size: 16px;
}

.lead {
     font-size: 18px;
     line-height: 30px;
     color: #767676;
     margin: 0;
     padding: 0;
}

.form-control:focus {
     border-color: #ffffff !important;
     box-shadow: 0 0 0 .2rem rgba(255, 255, 255, .25);
}

.navbar-form input {
     border: none !important;
}

.badge {
     font-weight: 500;
}

blockquote {
     margin: 20px 0 20px;
     padding: 30px;
}

button {
     border: 0;
     margin: 0;
     padding: 0;
     cursor: pointer;
}

.full {
     float: left;
     width: 100%;
}

.layout_padding {
     padding-top: 90px;
     padding-bottom: 0px;
}

.padding_0{
     padding: 0px;
}
/* header section start */

.header_section {
    width: 100%;
    float: left;
    background-image: url(../images/banner-bg.png);
    height: auto;
    background-repeat: no-repeat;
    background-size: cover;
}
.costum_header{
    width: 100%;
    display: flex;
}
.logo {
    width: 50%;
    float: left;
    padding-top: 20px;
}
.menu_text {
    width: 51%;
    float: right;
    text-align: right;
}

.menu_text ul {
    margin: 0px;
    padding: 0px;
}

.menu_text li {
    float: left;
    padding-right: 60px;
    font-size: 18px;
    color: #ffffff;
}

.menu_text li a {
    color: #ffffff;
}

.menu_text li a:hover{
    color: #ffffff;
}

.overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(0,0,0);
    background-color: rgba(60,98,217, 0.9);
    overflow-x: hidden;
    transition: 0.5s;
}

.overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
}
.overlay a {
    padding: 0px;
    text-decoration: none;
    font-size: 22px;
    color: #f1f1f1;
    display: block;
    transition: 0.3s;
}

.overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
}
/* header section end */

/* banner section start */

.banner_section {
    width: 100%;
    float: left;
    padding-bottom: 57px;
}

.banner_taital{
    width: 100%;
    float: left;
    font-weight: bold;
    font-size: 60px;
    color: #fffcf4;
    text-align: center;
    font-family: 'Orbitron', sans-serif;
}

.banner_text{
    width: 100%;
    float: left;
    font-size: 16px;
    color: #fdfcfc;
    text-align: center;
    margin: 0px;
    font-family: 'Poppins', sans-serif;
}

.contact {
    width: 100%;
    float: left;
    margin-top: 50px;
}

.contact_bt {
    width: 180px;
    margin: 0 auto;
    text-align: center;
}

.contact_bt a{ 
    width: 100%;
    float: left;
    background-color: #111212;
    padding: 10px 0px;
    color: #fdfcfc;
    text-align: center;
    font-size: 20px;
}
.contact_bt a:hover{ 
    color: #111212; 
    background-color: #fffcf4;
}

.car_img {
    width: 100%;
    float: left;
    text-align: center;
    padding-top: 240px;
}

.carousel-indicators .active {
    background-color: #27cee2;
}
.carousel-indicators li {
    width: 20px;
    height: 20px;
    border-radius: 100px;
    background-color: #ffffff;
}
.carousel-indicators {
    bottom: -10px;
}
.number_text{
    width: 100%;
    float: left;
    font-size: 20px;
    color: #ffffff;
    padding: 0px;
    font-family: 'Orbitron', sans-serif;
}
.number_text .active{
    color: #27cee2;
}
.number_text_2{
    float: right;
}
.number_text_2.active {
    color: #27cee2;
}
/* banner section end */
/* about section start */


.about_section {
    width: 100%;
    float: left;
    background-image: url(../images/about-bg.png);
    height: auto;
    background-size: 100%;
    background-repeat: no-repeat;
    padding-bottom: 90px;
}

.about_taital {
    width: 100%;
    font-size: 30px;
    color: #fdfcfc;
    text-align: center;
    font-family: 'Orbitron', sans-serif;
}

.about_text {
    width: 100%;
    font-size: 16px;
    color: #ffffff;
    text-align: center;
    margin: 0px;
}
.about_box {
    width: 48%;
    border: 1px solid #ffffff;
    border-style: dotted;
    margin: 0 auto;
    float: left;
    padding: 30px;
    position: relative;
}


.about_bt {
    width: 170px;
    margin: 0 auto;
    text-align: center;
    padding-top: 190px;
}

.about_bt a{
    width: 100%;
    float: left;
    font-size: 18px;
    color: #fdfcfc;
    background-color: #111212;
    text-align: center;
    padding: 8px 5px;
    margin-top: 40px;
}
.about_bt a:hover{
    color: #000;
    background-color: #ffffff;
}

.about_img {
    width: 75%;
    float: right;
    position: absolute;
    margin-top: 115px;
    text-align: right;
    left: 240px;
}


/* about section end */

/* game section start */

.game_section{
    width: 100%;
    float: left;
    background-image: url(../images/game-bg1.png);
    height: auto;
    background-size: cover;
    background-repeat: no-repeat;
    padding-bottom: 90px;
}
.game_taital{
    width: 100%;
    font-size: 40px;
    color: #ffffff;
    text-align: center;
    font-family: 'Orbitron', sans-serif;
}
.game_taital::after{
    content: '';
    position: absolute;
    width: 150px;
    border: 1px solid #ffffff;
    margin: 0 auto;
    left: 0px;
    right: 0px;
    display: block;
    bottom: 0px;
}

.game_box_main{
    width: 100%;
    border: 1px solid #fcfdfd;
    border-style: dotted;
    margin-top: 50px;
    padding: 20px;
}
.login_text{
    width: 100%;
    float: left;
    font-size: 20px;
    color: #fcfdfd;
    padding: 0px;
    font-family: 'Orbitron', sans-serif;
}
.input_text {
    width: 100%;
    float: left;
    font-size: 16px;
    color: #1a1a1a;
    background-color: #d0d0d1;
    margin-top: 40px;
    padding-left: 20px;
    padding-right: 35px;
    height: auto;
    padding: 10px 35px 10px 20px;
    border: none;
}
input.input_text::placeholder {
    color: #1a1a1a;
}
.login_bt{
    width: 170px;
    float: left;
}
.login_bt a{
    width: 100%;
    float: left;
    font-size: 18px;
    color: #d0d7d8;
    text-align: center;
    background-color: #08bfdd;
    padding: 8px 5px;
    text-transform: uppercase;
    margin-top: 30px;
}
.login_taital_text {
    width: 100%;
    display: flex;
    padding-top: 55px;
}
.point_taital{
    width: 20%;
    float: left;
    font-size: 20px;
    color: #ffffff;
    font-family: 'Orbitron', sans-serif;
}
.point_text{
    width: 100%;
    float: left;
    font-size: 16px;
    color: #ffffff;
    margin: 0px;   
}

/* game section end */
/* blog section start */

.blog_section{
    width: 100%;
    float: left;
    background-image: url(../images/blog-bg.png);
    height: auto;
    background-repeat: repeat;
    background-size: contain;
    padding-bottom: 90px;
}

.blog_taital {
    width: 100%;
    font-size: 40px;
    color: #fffcf4;
    text-align: center;
    font-family: 'Orbitron', sans-serif;
}
.blog_taital::after {
    content: '';
    position: absolute;
    width: 300px;
    border: 1px solid #ffffff;
    margin: 0 auto;
    left: 0px;
    right: 0px;
    display: block;
    bottom: 0px;
}
.blog_text {
    width: 80%;
    margin: 0 auto;
    font-size: 16px;
    color: #fdfcfc;
    text-align: center;
    padding-top: 30px;
    font-family: 'Poppins', sans-serif;
}
.bog_img{
    width: 90%;
    text-align: center;
    padding-top: 40px;
}

.btn_main {
    width: 59%;
    margin: 0 auto;
    text-align: center;
    padding-top: 40px;
}
.btn_main ul{
    margin: 0px;
    padding: 0px;
}
.btn_main li a {
    float: left;
    font-size: 18px;
    color: #fdfcfc;
    text-align: center;
    background-color: #111212;
    padding: 10px 50px;
    margin: 0px 15px;
}
.btn_main li a:hover{
    color: #111212;
    background-color: #f4f8fa;
}
.btn_main li.active a{
    color: #111212;
    background-color: #f4f8fa;
}
.blog_section_2{
    width: 100%;
    float: left;
}
.download_text {
    width: 100%;
    float: left;
    font-size: 24px;
    color: #fcfcff;
    font-family: 'Orbitron', sans-serif;
    padding-top: 120px;
}
.lorem_text {
    width: 100%;
    font-size: 14px;
    color: #fcfcff;
    padding-top: 30px;
    margin: 0px;
    font-family: 'Poppins', sans-serif;
}
.app_main{
    width: 100%;
    display: flex;
    padding-top: 40px;
}
.google_app{
    width: 30%;
    float: left;
}
.app_store{
    width: 50%;
    float: left;
    padding-left: 20px;
}

/* blog section end */

/* contact section start */

.contact_section{
	width: 100%;
	float: left;
	background-color: #111b1d;
	height: 80%;
	padding-top: 90px;
	padding-right: 0px;
	padding-bottom: 90px;
	padding-left: 0px;
}
.contact_taital{
    width: 100%;
    float: left;
    font-size: 40px;
    color: #fcfcff;
    text-align: center;
    font-family: 'Orbitron', sans-serif;
}

.contact_menu{
    width: 100%;
    text-align: center;
}
.contact_menu ul{
    margin: 0px;
    padding: 0px;
    display: inline-block;
    text-align: center; 
}
.contact_menu li{
    float: left;
    font-size: 18px;
    color: #fcfcff;
    padding: 20px 20px 0px 20px;
    text-transform: uppercase;
}
.contact_menu li a{
    color: #fcfcff;
}
.contact_menu li a:hover{
    color: #09daec;
}

.newsletter_main{
    width: 40%;
    margin: 0 auto;
    text-align: center;
}
.newsletter_text {
    width: 30%;
    font-size: 30px;
    color: #fefefe;
    text-align: center;
    border-bottom: 1px solid #fefefe;
    margin: 0 auto;
    text-transform: uppercase;
    padding-top: 30px;
}
.email_text{
    width: 100%;
    font-size: 18px;
    color: #fefefe;
    border: 2px solid #f9fdfe;
    padding: 8px 15px;
    text-align: left;
    background-color: transparent;
    margin-top: 30px;
}
.sing_up_bt{
    width: 100%;
    float: left;
}

.sing_up_bt a{
    width: 100%;
    float: left;
    font-size: 18px;
    color: #fefefe;
    text-align: center;
    border: 2px solid #f9fdfe;
    padding: 8px 15px;
    background-color: transparent;
    margin-top: 30px;
}
.sing_up_bt a:hover{
    background-color: #0bcee3;
}

/* contact section end */

.copyright_section {
    width: 100%;
    float: left;
    background-color: #0bcee3;
    height: auto;
}
.copyright_text {
    width: 100%;
    float: left;
    font-size: 16px;
    color: #000000;
    text-align: center;
    margin-left: 0px;
}

.copyright_text a { color: #fffcf4; }
.copyright_text a:hover { color: #111b1d; }
